{% extends "OCQuizgenBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

  <h2>Début du quiz {{ name }} !</h2>

  <p>Connectez-vous avec le gamepin : {{ gamepin }} !</p>
          <a href="{{ path('oc_quizlaunch_question', {'id': id, 'gamepin' : gamepin, 'idq': 1, 'idcreateur' : idcreateur}) }}">Lancer le quiz</a>

  

{% endblock %}