{% extends "OCQuizgenBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

  <h2>Début du quiz {{ name }} !</h2>

  <p>Connectez-vous avec le gamepin : {{ gamepin }} !</p>
  
  

{% endblock %}