
{# extends "OCQuizgenBundle::layout.html.twig" #}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocquizlaunch_body %}

{% for user in allPlayers %}

  <li>
      {{ allPlayers[user] }} : {{ pointsTot[user] }} 
  </li>

{% endblock ocquizlaunch_body %}