{# src/templates/OCQuizgen/add.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
  Duplicate quiz - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Duplicate quiz</h2>

  {{ include("OCQuizgen/form.html.twig") }}

  <p>
    You are cloning a quiz. 
  </p>

{% endblock %}