{# src/templates/OCQuizGen/add.html.twig #}

{% extends "OCQuizGen/layout.html.twig" %}

{% block ocquizgen_body %}

  <h2>Ajouter un Quiz</h2>

  {{ include("OCQuizGenform.html.twig") }}

  <p>
    Vous ajoutez un nouveau quiz. Il vous sera possible de l'éditer via une page dédiée. 
  </p>
  

{% endblock %}
