{# src/templates/OCQuizgen/add.html.twig #}

{% extends "layout.html.twig" %}

{% block body %}

  <h2>New Quiz</h2>

  {{ include("OCQuizgen/form.html.twig") }}

  <p>
    After adding the quiz, you will be able to edit it in a dedicated page. 
  </p>
  

{% endblock %}
