{# src/templates/OCQuizgen/edit.html.twig #}

{% extends "OCQuizgen/layout.html.twig" %}

{% block title %}
  Modify quiz - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

  <h2>Modify quiz</h2>

  {{ include("OCQuizgen/form.html.twig") }}

  <p>
    You are modifiing a quiz. 
  </p>

  <p>
    <a href="{{ path('oc_quizgen_view', {'id': quiz.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Back to the quiz
    </a>
  </p>

{% endblock %}