{# src/templates/OCQuizgen/layout.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
  Quiz - {{ parent() }}
{% endblock %}

{% block body %}
{#
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% endif %} #}
  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  {% block ocquizgen_body %}
  {% endblock %}

{% endblock %}