{% extends "JulTestBundle::layout.html.twig" %}

{% block title %}
  Modifier une annonce - {{ parent() }}
{% endblock %}

{% block jultest_body %}

  <h2>Modifier une annonce</h2>

  {{ include("JulTestBundle:Advert:form.html.twig") }}

  <p>
    Vous modifiez une annonce.
  </p>

  <p>
    <a href="{{ path('jul_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour aux annonces
    </a>
  </p>

{% endblock %}