{% block form_row %}
{% spaceless %}
    <div class="form_row">
		<div class="form-group">
		
			{# 2eme argument : label, on met null pour prendre celui définit par form_row() #}
			{{ form_label(form, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		  
			{{ form_errors(form) }}
			
			<div class="col-sm-4">
				{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
			</div>
			
		</div>
    </div>
{% endspaceless %}
{% endblock form_row %}


	