{# src/OC/Quizgen/Resources/views/Default/duplicate.html.twig #}

{% extends "OCQuizgenBundle::layout.html.twig" %}

{% block title %}
  Dupliquer un quiz - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

  <h2>Dupliquer un quiz</h2>

  {{ include("OCQuizgenBundle:Default:form.html.twig") }}

  <p>
    Vous dupliquez un quiz. 
  </p>

{% endblock %}