{# src/OC/Quizgen/Resources/views/Default/edit.html.twig #}

{% extends "OCQuizgenBundle::layout.html.twig" %}

{% block title %}
  Modifier un quiz - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

  <h2>Modifier un quiz</h2>

  {{ include("OCQuizgenBundle:Default:form.html.twig") }}

  <p>
    Vous éditez un quiz. 
  </p>

  <p>
    <a href="{{ path('oc_quizgen_view', {'id': quiz.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au quiz
    </a>
  </p>

{% endblock %}