{% extends "layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Début du quiz {{ name }} !</h2>

  <p>Connectez-vous avec le gamepin : {{ gamepin.pinNumber }} !</p>
          <a href="{{ path('oc_launch_question', {'gamepin' : gamepin.id, 'idq': 1}) }}">Lancer le quiz</a>

{% endblock %}