
{% extends "OCQuizgenBundle/layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

<h2>Résultats du quiz "{{ quiz.nom }}" :</h2>
{% for key in allPlayers %}

  <li>
      {{ key }} : {{ pointsTot[key] }} points
  </li>
{% endfor %}  
  
{% endblock ocquizgen_body %}
