
{% extends "/layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

<h2>Résultats du quiz "{{ gamepin.quiz.nom }}" :</h2>
{% for pseudo, total in pointsTot %}
        <li>{{pseudo}} : {{total}} points</li>
    {% endfor %}

{% endblock %}
